<html>
<head>
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <title>BYE BYE <%=document.name.upcase%></title>
</head>
<body>
  <a href="/document/<%=document.id%>">GO BACK</a>
  <p>ARE YOU SURE?</p>

  <%=document.name.upcase%>
<form action="/document/<%=document.id%>" method="POST">
<input type="hidden" name="_method" value="DELETE">
<button>SAY GOODBYE <%=document.name.upcase%></button>
</form>
</body>
</html>