<html>
<head>
  <title><%=document.name%></title>
</head>
<body>
<h1><%=document.name.upcase%></h1>
<a href="/">HOMEPAGE</a>
<a href="/documents">BACK</a>
<br></br>
<p>BIOGRAPHY</p>
<%=document.information%>
<br>
</br>
<p>by</p>
<a href="/author/<%=author.id%>"><%=author.first%> <%=author.last%></a>
<br></br>
<form action="/edit/<%=document.id%>" method="GET">
<input type="hidden" name="document" value="<%=document.id%>">
<button>EDIT</button>
</form>
<form action="/delete/<%=document.id%>" method="GET">
  <input type="hidden" name="delete" value="<%=document.id%>">
  <button>SAY GOODBYE <%=document.name.upcase%></button>
</form>

  
  <form action="/history/<%=document.id%>" method = "GET">
  <input type="hidden" name="edited" value="<%=document.id%>">
  <button>OLDER BIOGRAPHY OF <%=document.name.upcase%></button>
</form>
</body>
</html>