<html>
<head>
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <title><%=document.name%></title>
</head>
<body>
<h1><%=document.name.upcase%></h1>
<a href="/">HOMEPAGE</a>
<a href="/documents">BACK</a>
<br></br>
<img src="<%=document.url%>"/>
<p>BIOGRAPHY</p>
<%=markdown.render(document.information)%>
<br>
</br>
<p>original by</p>
<a href="/author/<%=author.id%>"><%=author.first%> <%=author.last%></a>
<br></br>
</p>edited by </p>
<a href="/author/<%=authoredited.id%>"><%=authoredited.first%> <%=authoredited.last%></a>
<form action="/edit/<%=document.id%>" method="GET">
<button>EDIT</button>
</form>
<form action="/delete/<%=document.id%>" method="GET">
  <button>SAY GOODBYE <%=document.name.upcase%></button>
</form>

  
  <form action="/history/<%=document.id%>" method="GET">
  <button>OLDER BIOGRAPHY OF <%=document.name.upcase%></button>
</form>

<form action="/subscribe/<%=document.id%>" method="GET">
  <button>SUBSCRIBE TO <%=document.name.upcase%></button>
</form>


</body>
</html>