<html>
<head>
  <link rel="stylesheet" type="text/css" href="/styles.css">
    <link href='http://fonts.googleapis.com/css?family=Gloria+Hallelujah' rel='stylesheet' type='text/css'>
  <title><%=document.name%></title>
</head>
<body>
  <h3><a href="/">HOMEPAGE</a></h3>
  <h3><a href="/document/<%=document.id%>">GO BACK</a></h3>
  <h2>SUPERHERO NAME</h2>
  <form action="/document/<%=document.id%>" method="POST">
  <input type="hidden" name="_method" value="PUT">
  <input type="text" name="name" value="<%=document.name%>">
  <input type="text" name="url" value="<%=document.url%>">
  <h2>BIOGRAPHY</h2>
  <textarea name="information" cols="75" rows="5"> <%=markdown.render(document.information)%>
  </textarea>
  <select name="author">
  <% authors.each do |author| %>
  <option value="<%=author["id"]%>"><%=author["first"] %></option>
  <%end%>
  </select>

  <button>FIX <%=document.name.upcase%></button>
  </form>
</body>
</html>
