<html>
<head>
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <title><%=document.name%></title>
</head>
<body>
 <a href="/document/<%=document.id%>">GO BACK</a>
 <br></br>
 <%if olddocuments.length == 0%>
 <p>NO OLDER BIOGRAPHIES</p>
 <%else%>
<p>OLDER BIOGRAPHIES</p>
<%olddocuments.each do |old|%>
<a href="/old/<%=document.id%>/<%=old.id%>"><%=old.old_name.upcase%></a>
<%end%>
<%end%>
</body>
</html>